{% extends 'base.html.twig' %}

{% block content %}
        <h1 class="mt-5">Company Search</h1>
        <form action="{{ path('search') }}" method="get" class="mt-4">
            <div class="input-group mb-3">
                <input type="text" name="registration_code" class="form-control" placeholder="Enter Registration Code">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

            <h2 class="mt-4">Company Information</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Registration Code</th>
                    <th>VAT</th>
                    <th>Address</th>
                    <th>Mobile Phone</th>
                    <th>Turnover</th>
                </tr>
                </thead>
                <tbody>
                {% if companies %}
                    {% for company in companies %}
                        <tr>
                            <td>{{ company.getCompanyName() }}</td>
                            <td>{{ company.getRegistrationCode }}</td>
                            <td>{{ company.getVat }}</td>
                            <td>{{ company.getAddress }}</td>
                            <td><img src="{{ asset('images/' ~ company.getMobilePhone) }}" alt="{{ company.getCompanyName() }} Mobile Phone" class="mobile-phone-image"></td>
                            <td>
                                <button class="btn btn-primary show-turnover" data-company-id="{{ company.getId() }}">
                                    View
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">No company details found.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="modal fade" id="turnoverModal" tabindex="-1" role="dialog" aria-labelledby="turnoverModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="turnoverModalLabel">Turnover Information</h5>
                            <button type="button" class="close turnover-modal-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="turnoverModalBody">
                            <!-- AJAX response will be inserted here -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary turnover-modal-close" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block customJavascript %}
<script>
    $(document).ready(function() {
        $('.show-turnover').click(function() {
            var companyId = $(this).data('company-id');
            var modalBody = $('#turnoverModalBody');

            $.ajax({
                url: '/company/' + companyId + '/turnover',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    modalBody.empty();
                    if (data.turnover) {
                        var table = '<table class="table">';
                        table += '<thead><tr><th>Year</th><th>Non-Current Assets</th><th>Current Assets</th><th>Equity Capital</th><th>Amounts payable and other liabilities</th><th>Sales revenue</th><th>Profit (loss) before taxes</th><th>Profit before taxes margin</th><th>Net profit (loss)</th><th>Net profit margin</th></tr></thead>';
                        table += '<tbody>';

                        for (var index in data.turnover) {
                            table += '<tr>';
                            table += '<td>' + data.turnover[index].year + '</td>';
                            table += '<td>' + data.turnover[index].non_current_assets + '</td>';
                            table += '<td>' + data.turnover[index].current_assets + '</td>';
                            table += '<td>' + data.turnover[index].equity_capital + '</td>';
                            table += '<td>' + data.turnover[index].amounts_payable_and_other_liabilities + '</td>';
                            table += '<td>' + data.turnover[index].sales_revenue + '</td>';
                            table += '<td>' + data.turnover[index].profit_loss_before_taxes + '</td>';
                            table += '<td>' + data.turnover[index].profit_before_taxes_margin + '</td>';
                            table += '<td>' + data.turnover[index].net_profit_loss + '</td>';
                            table += '<td>' + data.turnover[index].net_profit_margin + '</td>';
                            table += '</tr>';
                        }

                        table += '</tbody></table>';
                        modalBody.append(table);
                    } else {
                        modalBody.append('<p>No turnover information available.</p>');
                    }
                    $('#turnoverModal').modal('show');
                },
                error: function() {
                    modalBody.empty().append('<p>Error fetching turnover information.</p>');
                    $('#turnoverModal').modal('show');
                }
            });
        });

        $('.turnover-modal-close').click(function() {
            $('#turnoverModal').modal('hide');
        });
    });

</script>
{% endblock %}