{% extends 'company/base.html.twig' %}

{% block title %}Company Database{% endblock %}

{% block body %}
    <div class="mt-5 container">
        <div class="container text-center">
            <h1 class="mb-4">Company Database</h1>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="{{ path('company_new') }}" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Create New
                </a>
            </div>
            <div class="col">
                {{ form_start(filterForm, {'attr': {'class': 'form-inline'}}) }}
                <div class="input-group">
                    {{ form_widget(filterForm.search, {'attr': {'class': 'form-control', 'placeholder': 'Search by name or code or vat'}}) }}
                    {{ form_end(filterForm) }}
                </div>

            </div>
        </div>
        {{ include('company/include/_company_list.html.twig', {'pagination': pagination}) }}

        <div class="pagination justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                </ul>
            </nav>
        </div>
        {{ include('company/include/_turnover_modal.html.twig') }}
    </div>
{% endblock %}


{% block customJavascript %}
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}