{% extends 'company/base.html.twig' %}

{% block title %}Company Search{% endblock %}

{% block body %}
    <div class="mt-5 container">
        <div class="container text-center">
            <h1 class="mb-4">Company Search (Scrapping)</h1>
        </div>

        <form action="{{ path('company_search') }}" method="get" class="mt-4">
            <div class="input-group mb-3">
                <input type="text" name="registration_codes" class="form-control" placeholder="Provide Registration Code(s) for Scrapping (multiple codes can be added by separating them with commas)">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <div class="row mb-3">
            <div class="col">
                <a href="{{ path('company_new') }}" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Create New
                </a>
            </div>
        </div>

        {% if message %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endif %}

        {{ include('company/include/_company_list.html.twig', {'pagination': pagination}) }}
        {{ include('company/include/_turnover_modal.html.twig') }}
    </div>
{% endblock %}

{% block customJavascript %}
    {{ parent() }}
    <script>
        function checkTaskStatus() {
            // Passed from the controller
            const registrationCodes = "{{ registrationCodes }}";
            const message = "{{ message }}";

            // No registration codes or nothing to check
            if (!registrationCodes || message.length === 0) {
                return;
            }

            // Send an AJAX request to check the task status
            $.ajax({
                url: '{{ path('check_status') }}',
                method: 'GET',
                data: { registration_codes: registrationCodes },
                success: function (response) {
                    if (response === 'completed') {
                        // Task is completed, fetch and display the scraped data
                        location.reload();
                    } else {
                        // Task is still in progress, wait and check again in every 5 seconds
                        setTimeout(checkTaskStatus, 5000);
                    }
                }
            });
        }

        // Start checking the task status when the page loads
        $(document).ready(function () {
            checkTaskStatus();
        });
    </script>
{% endblock %}
